#mylinks{
    display: none;
}

.icon-menu{
    display: none;
    width: 2.0rem;
    cursor: pointer;
    fill: currentColor;
}

.navbar-menu{
    list-style: none;
    display: none;
}

@media (max-width: 768px) {
    .nav-links{
        display: none;
    }
    .navbar{
        background: #0f0f0f;
    }
    #mylinks{
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0f0f0f;
        padding: 20px;
        z-index: 100;
    }
    .navbar-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .icon-menu{
        display: block;
    }
}