.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #0f0f0f;
    padding: 0 5%;
}

.hero-content{
    max-width: 50%
    background-color: #151515;
    flex-direction: column;
    padding: 1.5rem;
    position: relative;
}
.hero-text h1{
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: none;
    font-size: clamp(3rem, 1vw, 6rem);
    line-height: 0.9;
}

.hero-text p{
    margin-bottom: 3rem;
    line-height: 1.5;
    max-width: 450px;
    font-size: 1.0rem;
    color: #999;
}

.line{
    width: 100px;
    height: 1px;
    background-color: #E67514;
    display: inline-block;
    margin-bottom: 1rem;
    vertical-align: middle;
}

.hero-text span{
    display: block;
}

.icon svg{
    fill: currentColor;
}

@media (max-width: 768px){
    .hero-content{
        min-width: 100%;
        width: 100%;
    }
    .hero-content{
        min-height: 100vh 50vh;
    }
    .hero-content h1{
        margin-top: 10px;
    }
}

