*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: #0f0f0f;
    color: white;
    overflow-x: hidden;
}