.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #0f0f0f;
    padding: 0 5%;
}

.hero{
    display: flex;
    min-height: calc(100vh - 80px);
    flex-wrap: wrap;
}

.hero-content{
    flex: 1;
    min-width: 50%;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    position: relative;
}

.hero-text h1{
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: none;
    font-size: clamp(3rem, 8vw, 6rem);
    line-height: 0,9;
}

.footertext h1{
    font-size: clamp(3rem, 8vw, 6rem);
    font-weight: 800px;
}

.hero-text p{
    margin-bottom: 3rem;
    line-height: 1.5;
    max-width: 450px;
    font-size: 1.0rem;
    color: #999;
}

.line{
    width: 100px;
    height: 1px;
    background-color: #E67514;
    display: inline-block;
    margin-bottom: 1rem;
    vertical-align: middle;
}

.hero-text span{
    display: block;
}

.hero-image{
    flex: 1;
    min-width: 50%;
    position: relative;
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

.icon svg{
    width: 20px;
    height: 20px;
    fill: currentColor;
}

@media (max-width: 768px){
    .hero-content, .hero-imag{
        min-width: 100%;
    }
    .hero-content{
        height: 100vh, 50vh;
    }
    .hero-image{
        padding: 8rem 2rem;
    }
}