.input-desain{
    display: block;
    color: #999;
    margin-bottom: 8px;
    font-size: 10px;
    text-transform: capitalize;
}

.input-custom, .input-message{
    width: 100%;
    padding: 12px 20px;
    border: none;
    color: black;
    backgound-color: #f1f1f1;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

.input-message{
    min-height: 100px;
    text-align: left;

}
.side-image {
            filter: grayscale(100%);
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }