.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #0f0f0f;
    padding: 0 5%;
}

.hero{
    display: flex;
    min-height: calc(100vh - 80px);
    flex-wrap: wrap;
}

.hero-content{
    flex: 1;
    min-width: 50%;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    position: relative;
}

.hero-text h1{
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: none;
    font-size: clamp(3rem, 8vw, 6rem);
    line-height: 0,9;
}

.hero-text p{
    margin-bottom: 3rem;
    line-height: 1.5;
    max-width: 450px;
    font-size: 1.0rem;
    color: #999;
}

.line{
    width: 100px;
    height: 1px;
    background-color: #E67514;
    display: inline-block;
    margin-bottom: 1rem;
    vertical-align: middle;
}

.hero-text span{
    display: block;
}

.hero-image{
    flex: 1;
    min-width: 50%;
    position: relative;
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

.icon svg{
    width: 20px;
    height: 20px;
    fill: currentColor;
}

@media (max-width: 768px) {
    .hero-content, .hero-image{
        min-width: 100%;
    }
    .hero-content {
        height: 100vh, 50vh;
    }
    .hero-image {
        padding: 5rem 2rem;
    }
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.heartbeat {
	-webkit-animation: heartbeat 2.5s ease-in 4s infinite both;
	        animation: heartbeat 2.5s ease-in 4s infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
