.input-desain{
    display: block;
    color: #999;
    margin-bottom: 8px;
    font-size: 10px;
    text-transform: capitalize;
}

.input-custom, .input-message{
    width: 100%;
    padding: 12px 20px;
    border: none;
    color: black;
    background-color: black;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

.input-message{
    min-height: 100px;
    text-align: left;
}

/* edit  */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #0f0f0f;
    padding: 0 5%;
}

.hero-content{
    max-width: 50%
    background-color: #151515;
    flex-direction: column;
    padding: 1.5rem;
    position: relative;
}
.hero-text h1{
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: none;
    font-size: clamp(3rem, 1vw, 6rem);
    line-height: 0.9;
}

.hero-text p{
    margin-bottom: 3rem;
    line-height: 1.5;
    max-width: 450px;
    font-size: 1.0rem;
    color: #999;
}

.line{
    width: 100px;
    height: 1px;
    background-color: #E67514;
    display: inline-block;
    margin-bottom: 1rem;
    vertical-align: middle;
}

.hero-text span{
    display: block;
}

.icon svg{
    width: 20px;
    height: 20px;
    fill: currentColor;
}

@media (max-width: 768px){
    .hero-content {
        min-width: 100%;
        width: 100%;
    }
    .hero-content {
        min-height: 100vh 50vh;
    }
    .hero-content h1{
        margin-top: 10px;
    }
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

.flip-in-ver-left {
	-webkit-animation: flip-in-ver-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
